@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .nunito-base {
    @apply font-sans text-lg;
  }

  .nunito-lg {
    @apply font-sans text-xl;
  }

  /* .inter {

  } */
}

:root {
  --background-color: #fff;
}

:root.dark {
  --background-color: #0f172a;
}

html {
  font-family: 'Styrene', ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue;
  font-feature-settings: "liga", 0;
  /* font-feature-settings: "cv02","cv03","cv04","cv11"; */
  font-size: 16px;
  /* @apply nunito-base; */
}

body {
  background-color: var(--background-color);
}

.dark :not(.placeholder-index) {
  color-scheme: dark;
}
