@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .nunito-base {
    @apply font-sans text-lg;
  }

  .nunito-lg {
    @apply font-sans text-xl;
  }

  /* .inter {

  } */
}

:root {
  --background-color: #fff;
  --color-1: 280 100% 63%;
  --color-2: 320 100% 63%;
  --color-3: 250 100% 63%;
  --color-4: 210 100% 63%;
  --color-5: 230 100% 63%;
}

:root.dark {
  --background-color: #0f172a;
}

html {
  font-family: 'Geist', ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue;
  font-feature-settings: "liga", 0;
  /* font-feature-settings: "cv02","cv03","cv04","cv11"; */
  font-size: 16px;
  /* @apply nunito-base; */
}

body {
  background-color: var(--background-color);
}

::view-transition-group(root) {
  animation-duration: .75s;
}
::view-transition-new(root),
::view-transition-old(root) {
  mix-blend-mode: normal;
}

::view-transition-new(root) {
  animation-name: reveal-light;
}

::view-transition-old(root),
.dark::view-transition-old(root) {
  animation: none;
}
.dark::view-transition-new(root) {
  animation-name: reveal-dark;
}

@keyframes reveal-dark {
  from {
    clip-path: polygon(-30% 0, -30% 0, -15% 100%, -10% 115%);
  }
  to {
    clip-path: polygon(-30% 0, 130% 0, 115% 100%, -10% 115%);
  }
}

@keyframes reveal-light {
  from {
    clip-path: polygon(130% 0, 130% 0, 115% 100%, 110% 115%);
  }
  to {
    clip-path: polygon(130% 0, -30% 0, -15% 100%, 110% 115%);
  }
}